*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

:root {
  --body-bg-color:linear-gradient(to right,  #d5d2e4, #f5f1f8);
  --purple: #BB99DD;
}

body{
  display: flex;
  height: 100vh;

  background: var(--body-bg-color);
}

/* CONTAINER */
#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 20rem;
  margin: auto;
}

/* IMAGE USER */
.image-user{
  display: flex;
  flex-direction: column;
  
}

.image-user img{
  width: 10rem;
  height: 10rem;

  clip-path: circle(50% at 50% 50%);
}

.image-user a{
  text-align: center;
  text-decoration: none;
  margin-top: 1rem;
}

/* CARDS LINKS */
.cards{
  display: flex;
  flex-direction: column;
  align-content:  center;
  gap: 1rem;
  width: 100%;
}

.card-link {
  display: flex;
  height: auto;
  width: 100%;

  border: .125rem solid var(--purple);
  border-radius: 4px;

  transition: .25s;
}

.card-link:hover{
  box-shadow: inset 0 0 0 .1rem var(--purple);
}

.card-link a {
  margin: 0 auto;
  padding: 0.8rem;
  width: 100%;

  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.card-link a:active{
  color: var(--purple)
}

/* SOCIAL MEDIA ICONS */
.icons-link{
  display:flex;
  width: 10rem;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}


.icons-link a img:hover{
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  
  transition: .4s;
}


@media screen and (max-width: 426px){
  #container{
    margin: auto .5rem
  }

  .icons-link{
    width: 100%;
  }
}
